.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.upperBall {
    position: absolute;
    height: 35vmax;
    width: 35vmax;
    border-radius: 100%;
    top: -5vmax;
    left: -5vmax;

    background: linear-gradient(315deg, rgba(var(--primary-rgb), 0.2) 0%, rgba(var(--secondary-rgb), 0.8) 100%);
}

.lowerBall {
    position: absolute;
    height: 45vmax;
    width: 45vmax;
    border-radius: 100%;
    bottom: -10vmax;
    right: -10vmax;

    background: linear-gradient(315deg, rgba(var(--primary-rgb), 0.5) 0%, rgba(var(--secondary-rgb), 0.3) 100%);
}

.gradient135 {
    background: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 100%);
}

.card {
    width: 400px;
    max-width: 90vw;
    z-index: 1;
}

.cardContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}